# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
*.egg
*/build/*
*/dist/*

# Virtual environments
.venv/
venv/
env/

# pytest / coverage
.pytest*
.cache
.coverage
coverage.xml
htmlcov/

# mypy
.mypy_cache/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Home Assistant configuration
config/*
!config/configuration.yaml